In [1]:
#import API
from solarPanelAPI_V3 import *
import time
import pandas as pd

In [9]:
#test for generationalGA
panelParams = [65, 39, 6, 6, 32, 72, -90, 90, 0, 360, 20, 90, 45]
popSize = 100
pm = 0.5
numMutations = 10
fitnessCountLimit = 3200
attempts = 30
checkGeneration = 4
conflictDeduction = 50


bestDf, avgDf = generationalGA(panelParams, popSize, pm, numMutations, fitnessCountLimit, attempts, 
                               checkGeneration, conflictDeduction, True)

generation 0
current average fitness: 537.9037531972787

generation 10
current average fitness: 498.9009368926189

generation 20
current average fitness: 490.9011097998597

generation 30
current average fitness: 499.9011839029628

finished
total number of generations: 32
best individual: [1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 65, 14, 74, 71, 52, 355, 35, 45, 165, 32, -71, 38, 68, 10, 121, 33, -33, 284, 63, 67, 195, 41, 62, 326, 38, 60, 76, 57, -79, 101, 47, 14, 181, 70, 19, 257, 52, -11, 211, 47, 16, 223, 47, -90, 46, 32, 89, 66]
best fitness: 666.4017273257205
generation 0
current average fitness: 527.9021080862781

generation 10
current average fitness: 547.40155406859

generation 20
current average fitness: 564.4013247000872

generation 30
current average fitness: 564.4012707126135

finished
total number of generations: 32
best individual: [0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 54, 72, 180, 61, -17, 99, 62, -10, 40, 47, 83, 289, 49, 18, 230, 36, -67, 294, 52, 40, 358, 53, 57, 106, 53, 37, 77, 54, 70, 279, 37, 86, 74, 41, 75, 331, 71, -85, 108, 41, -52, 356, 72, -17, 327, 50, 8, 273]
best fitness: 666.4017273257205

list of best individuals found for each attempt: [[1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 65, 14, 74, 71, 52, 355, 35, 45, 165, 32, -71, 38, 68, 10, 121, 33, -33, 284, 63, 67, 195, 41, 62, 326, 38, 60, 76, 57, -79, 101, 47, 14, 181, 70, 19, 257, 52, -11, 211, 47, 16, 223, 47, -90, 46, 32, 89, 66], [0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 54, 72, 180, 61, -17, 99, 62, -10, 40, 47, 83, 289, 49, 18, 230, 36, -67, 294, 52, 40, 358, 53, 57, 106, 53, 37, 77, 54, 70, 279, 37, 86, 74, 41, 75, 331, 71, -85, 108, 41, -52, 356, 72, -17, 327, 50, 8, 273]]
list of best fitnesses found for each attempt: [666.4017273257205, 666.4017273257205]
list of average fitness lists: [[537.9037531972787, 498.9009368926189, 490.9011097998597, 499.9011839029628], [527.9021080862781, 547.40155406859, 564.4013247000872, 564.4012707126135]]

In [10]:
bestDf

                                    best individuals  best Fitnesses
0  [1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, ...      666.401727
1  [0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, ...      666.401727

In [11]:
avgDf

   generations           0           1
0            0  537.903753  527.902108
1           10  498.900937  547.401554
2           20  490.901110  564.401325
3           30  499.901184  564.401271

In [5]:
bestDf.to_csv(path_or_buf="generationalBest.csv")

In [6]:
avgDf.to_csv(path_or_buf="generationalAverage.csv")